* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tiempos", sans-serif;
  line-height: 1.6;
}

.navbar {

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .logo {
    font-size: 1rem;
  }

  .nav-links {
    list-style: none;
    display: flex;

    li {
      margin-left: 1rem;
      }
    }
  }


.hero {
  padding: 3rem 0;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }


  .left {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 1.5rem;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  .right {
    flex: 2;

    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.1rem;
    }
  }
}

.search-content {
  padding: 2rem 0;
  background: radial-gradient( #23a6d5, #23d5ab, #00A36C);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
// height: 100vh;
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
  }

  p {
    font-size: 1.1rem;
  }
}

.search-wrapper-alt {
  .search {
    max-width: 20rem;
    min-width: 250px;

    & > .search-button {
      border-radius: 10px;
      height: 3rem;
      background-color: transparent;
      border: 2px solid white;

      & > p {
        color: white;
      }

      & svg {
        cursor: pointer;
        width: 18px;
        min-width: 18px;
        margin: 0 0.5rem;
  
        .search-path {
          stroke: white;
          stroke-width: 2px;
          transition: stroke 0.5s ease;
        }
      }
    }


  }

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}